
body {
  margin: 50px;
  padding: 0;
}

label {
  font-size: 13px;
}

.seat {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.flightdeets {
  color: white;
  letter-spacing: 6px;
};

.airplaneName {
  font-style: bold;
  color: green;
}

.airplane {
  color: purple;
  font-weight: bold;
  font-size: 13px;
}
