@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Noticia+Text');
@import url('https://fonts.googleapis.com/css?family=Lora|Noticia+Text|Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Advent+Pro');

/*font-family: 'Noticia Text', serif;*/
/*font-family: 'Advent Pro', sans-serif;*/
/*font-family: 'Abril Fatface', cursive;*/

.menu-enter {
  max-height: 0px;
  -webkit-transition: max-height 1s ease;
  overflow: hidden; }

.menu-enter.menu-enter-active {
  height: auto;
  max-height: 100px; }

.menu-leave {
  max-height: 100px;
  -webkit-transition: max-height 1s ease; }

.menu-leave.menu-leave-active {
  overflow: hidden;
  max-height: 0px; }

ul {
  border: #ababab solid 1px;
  width: 70%;
}


body {
  margin: 50px;
  padding: 0;
  font-family: 'Lora', serif;
  /* background: url('https://i.imgur.com/2nLpELR.jpg');
  background-size: cover; */
  background-color: rgba(0, 0, 0, 0.2);
  height: 150%;
  letter-spacing: 1px;
  font-family: 'Advent Pro', sans-serif;
}

#root {
  min-height: 1000px;
}

.page-logo {
  position: absolute;
  top: -1%;
  left: -4%;
  width: 60%;
}

/*////////////////////////////     Footer    /////////////////////////////////*/
footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11.9%;
  opacity: 0.8;
  text-align: center;
  color: #f0750f;
}

footer h3 {
  display: inline-block;
  padding: 1.3% 3.3%;
  letter-spacing: 2px;
  font-size: 23px;
}

/*///////////////////////////    Home Page    ///////////////////////////////*/

.t2 {
    /*height: inherit;*/
    padding: 8% 5% 5% 3%;
    /*top: 55px;*/

    /*To support older browsers*/
    height: 100%;
    width: 100%;

    /*margin-top: -4%;*/
    /*margin-left: -4%;*/

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    background-repeat: no-repeat;
    background-size: contain;
}

.search-button {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 800;
  display: inline-block;
  font-size: 38px;
  padding: 15px;
  margin-bottom: 10%;
  margin-left: 33px;
  background-color: #f0750f;
  width: 34%;
  border-radius: 8px;
  overflow-x: none;
}

.search-button a {
  text-decoration: none;
  color: white;
}

.add-button {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 800;
  display: inline-block;
  font-size: 38px;
  padding: 15px;
  margin-bottom: 10%;
  margin-left: -5px;
  background-color: #f0750f;
  border-radius: 8px;
}

.add-button a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 33%;
  margin-top: -3%;
  margin-left: 16%;
}

.rightnav {
  padding: 1em;
}

.home-page {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),
    url('https://i.imgur.com/2nLpELR.jpg');
  background-size: cover;
  overflow-x: hidden;
  background-position: center;
  transform: scale(0.8);
  padding: 0 13.3%;
  padding-bottom: 10%;
  margin-left: -16.5%;
  margin-top: -10.1%;
  opacity: 0.8;
}

.inner-div {
  margin: 0 auto;
}

.search-div {
  position: absolute;
}



.results-grid span {
  /*background-color: rgba(0, 0, 0, 0.2);*/
}

input {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


.map {
  height: 300px;
}

@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
}
/* These (map and @media) are from a different tutorial. might not be needed??? */


/*///////////////////////////    Predict Form    ///////////////////////////////*/

.predict-form {
  position: relative;
  top: 18%;
  left: 0;
  padding-top: 20px;
}

.predict-label{
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  margin: 8px 0;
  font-size: 28px;
}
.predict-button {
  font-family: 'Abril Fatface', cursive;
  font-style: italic;
  font-weight: 800;
  margin: 13% 0 0 0;
  padding: 15px;
  width: 43%;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 5px;
  background-color: #f0750f;
  color: white;
}

.predict-select{
  width: 50%;
  font-size: 23px;
  margin: 6px;
  text-align: center;
  margin-bottom: 10px;
}

.predict-input{
  width: 48%;
  font-size: 23px;
  padding-left: 8.3px;
}

.predict-search {
  margin-bottom: 5px;
}


/*////////////////////////       Property Page      //////////////////////////*/
.property-page h1 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 43px;
}

.fake-nav {
  text-align: center;
  margin-top: -2.3%;
}

.fake-nav h2 {
  display: inline-block;
  margin: 0 auto;
  padding: 23px;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
}

.fake-nav h2 a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #f0750f;
}

.prop-form {
  text-align: center;
  height: 5%;
  padding: 10px;
}

.prop-form input {
  padding: 3px;
  margin-left: 23px;
  text-align: center;
  font-size: 13px;
}

input.prop-form-submit {
  font-size: 15px;
  padding: 3.3px 12px;
  background-color: #f0750f;
  color: white;
}

.prop-image {
  width: 100%;
  height: 120%;
  margin-bottom: 18%;
  padding-bottom: 123px;
  margin-top: -22%;
}

/*////////////////////////       Auction Page      //////////////////////////*/


iframe {
  margin-top: 2%;
  margin-left: 28%;
}


.auction-form {
  text-align: center;
}

.live-auction {
  text-align: center;
}

/*////////////////////////       Search Page      //////////////////////////*/

.search-page-div h1 {
  text-align: center;
  font-size: 43px;
  font-family: 'Abril Fatface', cursive;
}

.search-form {
  text-align: center;
  height: 5%;
  padding: 10px;
}

.search-form select {
  padding: 8px;
  margin-left: 23px;
  text-align: center;
  font-size: 15px;
}

.search-form select option  {
  padding: 2px;
}

.search-form input {
  padding: 3px;
  margin-left: 23px;g
  text-align: center;
  font-size: 13px;
}

input.search-form-submit {
  font-size: 15px;
  padding: 3.3px 12px;
  background-color: #f0750f;
  color: white;
}

.map-results-div iframe {
  margin-left: 28%;
}
