.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 123px;
  margin-bottom: 15px;
}

.results-photo {
  margin-bottom: 2px;
}

.property-results h1 {
  font-size: 33px;
}

.results-grid.headings {
  margin-bottom: 0;
  margin-left: 5%;
}

.results-grid.headings h3 {
  text-decoration: underline;
  letter-spacing: 1px;
}

.results-grid span {
  padding: 0 18px;
  text-align: center;
}

.results-grid span.results-suburb {
  margin-right: 23%;
}

.results-grid span.results-landsize {
  margin-right: 25%;
}

.results-grid span.results-bedroom {
  margin-right: 31%;
}

.results-grid span.results-bathroom {
  margin-right: 38%;
}

.results-grid span.results-privateparking {
  margin-right: 38%;
}

.results-grid span.results-expectedprice {
  margin-right: 27%;
}
